[submodule "imgui_markup/dependencies/imgui"]
	path = imgui_markup/dependencies/imgui
	url = ../imgui.git
	branch = master
[submodule "sandbox/dependencies/glfw"]
	path = sandbox/dependencies/glfw
	url = ../glfw.git
	branch = master
